In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Food Review.csv")

In [4]:
df.columns

Index(['Food', 'Price', 'Rating'], dtype='object')

In [7]:
df

             Food  Price  Rating
0  chikan biryani    100       3
1           Dhosa    200       5
2          Khabha    350       1
3            Idli    200       4
4    High Protien    500       2
5   khadhi paneer    150       4
6   chola bhatura    250       1
7       ice cream    350       3
8     dhahi badha    150       2
9          samosa    500       5

In [5]:
df.info

<bound method DataFrame.info of              Food  Price  Rating
0  chikan biryani    100       3
1           Dhosa    200       5
2          Khabha    350       1
3            Idli    200       4
4    High Protien    500       2
5   khadhi paneer    150       4
6   chola bhatura    250       1
7       ice cream    350       3
8     dhahi badha    150       2
9          samosa    500       5>

####  pd.DataFrame({}) is help to make DataFrame or Table

In [8]:
df1=pd.DataFrame({'Record Data':['01-jan-2025','02/jan/2025','02-feb-2025','25-jan-2025','01-04-2023','02-dec-2025','05-04-2020','2002-03-27','24-dec-2020','16-09-2021',],
                  'food category':['non veg','veg','non veg','veg','veg','veg','veg','veg','veg','veg',]
                  })

In [9]:
df2=pd.DataFrame({
    'Food':['chikan biryani','Dhosa','Liti Chokha'],
    'Price':['100','200','339'],
    'Record Data':['01-jan-2025','02/jan/2025','02-dec-2025'],
    'food category':['non veg','veg','veg']
})

# Concatenation
.concat([DataFrame1,DataFrame2,DataFrame3,DataFrame4,......],axis=1)
axis=0 is for joining rows data or record or value  \n
axis=1 is for joining column data or record or value

In [10]:
new_df=pd.concat([df,df1],axis=1)

In [11]:
new_df

             Food  Price  Rating  Record Data food category
0  chikan biryani    100       3  01-jan-2025       non veg
1           Dhosa    200       5  02/jan/2025           veg
2          Khabha    350       1  02-feb-2025       non veg
3            Idli    200       4  25-jan-2025           veg
4    High Protien    500       2   01-04-2023           veg
5   khadhi paneer    150       4  02-dec-2025           veg
6   chola bhatura    250       1   05-04-2020           veg
7       ice cream    350       3   2002-03-27           veg
8     dhahi badha    150       2  24-dec-2020           veg
9          samosa    500       5   16-09-2021           veg

In [14]:
df=pd.concat([new_df,df2],axis=0)

In [15]:
df

             Food Price  Rating  Record Data food category
0  chikan biryani   100     3.0  01-jan-2025       non veg
1           Dhosa   200     5.0  02/jan/2025           veg
2          Khabha   350     1.0  02-feb-2025       non veg
3            Idli   200     4.0  25-jan-2025           veg
4    High Protien   500     2.0   01-04-2023           veg
5   khadhi paneer   150     4.0  02-dec-2025           veg
6   chola bhatura   250     1.0   05-04-2020           veg
7       ice cream   350     3.0   2002-03-27           veg
8     dhahi badha   150     2.0  24-dec-2020           veg
9          samosa   500     5.0   16-09-2021           veg
0  chikan biryani   100     NaN  01-jan-2025       non veg
1           Dhosa   200     NaN  02/jan/2025           veg
2     Liti Chokha   339     NaN  02-dec-2025           veg

In [16]:
df.index

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2], dtype='int64')

# .reset_index() 
it resets the index[0,1,2,3...] and convert the old_index as new_column and it can be avoided using (drop=True)

In [22]:
df.reset_index()

    index            Food Price  Rating  Record Data food category
0       0  chikan biryani   100     3.0  01-jan-2025       non veg
1       1           Dhosa   200     5.0  02/jan/2025           veg
2       2          Khabha   350     1.0  02-feb-2025       non veg
3       3            Idli   200     4.0  25-jan-2025           veg
4       4    High Protien   500     2.0   01-04-2023           veg
5       5   khadhi paneer   150     4.0  02-dec-2025           veg
6       6   chola bhatura   250     1.0   05-04-2020           veg
7       7       ice cream   350     3.0   2002-03-27           veg
8       8     dhahi badha   150     2.0  24-dec-2020           veg
9       9          samosa   500     5.0   16-09-2021           veg
10     10  chikan biryani   100     NaN  01-jan-2025       non veg
11     11           Dhosa   200     NaN  02/jan/2025           veg
12     12     Liti Chokha   339     NaN  02-dec-2025           veg

In [ ]:


df=df.reset_index(drop=True) # (drop=True) is remove previous index is which we got

In [21]:
df

              Food Price  Rating  Record Data food category
0   chikan biryani   100     3.0  01-jan-2025       non veg
1            Dhosa   200     5.0  02/jan/2025           veg
2           Khabha   350     1.0  02-feb-2025       non veg
3             Idli   200     4.0  25-jan-2025           veg
4     High Protien   500     2.0   01-04-2023           veg
5    khadhi paneer   150     4.0  02-dec-2025           veg
6    chola bhatura   250     1.0   05-04-2020           veg
7        ice cream   350     3.0   2002-03-27           veg
8      dhahi badha   150     2.0  24-dec-2020           veg
9           samosa   500     5.0   16-09-2021           veg
10  chikan biryani   100     NaN  01-jan-2025       non veg
11           Dhosa   200     NaN  02/jan/2025           veg
12     Liti Chokha   339     NaN  02-dec-2025           veg

In [24]:
df['Discount']=['2%']*13

In [26]:
df

              Food Price  Rating  Record Data food category Discount
0   chikan biryani   100     3.0  01-jan-2025       non veg       2%
1            Dhosa   200     5.0  02/jan/2025           veg       2%
2           Khabha   350     1.0  02-feb-2025       non veg       2%
3             Idli   200     4.0  25-jan-2025           veg       2%
4     High Protien   500     2.0   01-04-2023           veg       2%
5    khadhi paneer   150     4.0  02-dec-2025           veg       2%
6    chola bhatura   250     1.0   05-04-2020           veg       2%
7        ice cream   350     3.0   2002-03-27           veg       2%
8      dhahi badha   150     2.0  24-dec-2020           veg       2%
9           samosa   500     5.0   16-09-2021           veg       2%
10  chikan biryani   100     NaN  01-jan-2025       non veg       2%
11           Dhosa   200     NaN  02/jan/2025           veg       2%
12     Liti Chokha   339     NaN  02-dec-2025           veg       2%

In [30]:
df['col1']=[None]*13
df['col2']=[0]*13

In [31]:
df

,Food,Price,Rating,Record Data,food category,Discount,col1,col2
0,chikan biryani,100,3.0,01-jan-2025,non veg,2%,None,0
1,Dhosa,200,5.0,02/jan/2025,veg,2%,None,0
2,Khabha,350,1.0,02-feb-2025,non veg,2%,None,0
3,Idli,200,4.0,25-jan-2025,veg,2%,None,0
4,High Protien,500,2.0,01-04-2023,veg,2%,None,0
5,khadhi paneer,150,4.0,02-dec-2025,veg,2%,None,0
6,chola bhatura,250,1.0,05-04-2020,veg,2%,None,0
7,ice cream,350,3.0,2002-03-27,veg,2%,None,0
8,dhahi badha,150,2.0,24-dec-2020,veg,2%,None,0
9,samosa,500,5.0,16-09-2021,veg,2%,None,0
10,chikan biryani,100,NaN,01-jan-2025,non veg,2%,None,0
11,Dhosa,200,NaN,02/jan/2025,veg,2%,None,0
12,Liti Chokha,339,NaN,02-dec-2025,veg,2%,None,0